.container-fluid,
.wrap {
  margin-top: 15px;

  width: 500px;
}



.left,
.right {
  display: inline-block;

  width: 100%;
  margin-right: -100%;
  vertical-align: bottom;
}
.right {
  text-align: right;
}
